* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.services-section {
  background-size: cover;
  /* background: url(); enter your image url here  */
  padding: 60px 0;
}
.inner-width {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}
.section-title {
  text-align: center;
  color: #ddd;
  text-transform: uppercase;
  font-size: 30px;
  margin: 40px auto;
}
.border {
  width: 160px;
  height: 2px;
  background: #82ccdd;
  margin: 40px auto;
}
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.service-box {
  max-width: 30%;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  color: #484848;
}
.service-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #82ccdd;
  color: #82ccdd;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i {
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon {
  background: #82ccdd;
  color: #484848;
}
.service-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-description {
  font-size: 14px;
  text-align: justify;
}
@media screen and (max-width: 960px) {
  .service-box {
    max-width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .service-box {
    max-width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .service-box {
    max-width: 100%;
  }
}
